/* Animated Gradient Background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    animation: bgAnimation 12s ease infinite;
    background: linear-gradient(-45deg, #fdfbfb, #ebedee, #dfe9f3, #e6e9f0);
    background-size: 400% 400%;
}

/* Keyframes for Gradient Animation 
@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

/* Image Styling */
img {
    width: 100%;
    height: 800px;
    object-fit: cover;     /* fills the frame perfectly */
    border: 5px double #000;
    display: block;
    margin: 20px auto;     /* centers image */
}