/* Animated Gradient Background */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    animation: bgAnimation 12s ease infinite;
    background: linear-gradient(-45deg, #fdfbfb, #ebedee, #dfe9f3, #e6e9f0);
    background-size: 400% 400%;
}

/* Keyframes for Gradient Animation 
@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

/* Image Styling */
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px double #000;     /* Bold double-line border */
    box-sizing: border-box;
    margin-bottom: 10px;
}
